﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>.:: News24 ::.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/css/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/css/bootstrap/css/bootstrap-rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/css/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link href="~/Areas/Admin/css/login-soft-rtl.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Areas/Admin/css/components-rtl.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/css/plugins-rtl.css" rel="stylesheet" type="text/css"/>
    <link href="~/Areas/Admin/css/layout/layout-rtl.css" rel="stylesheet" " type="text/css" />
    <link href="~/Areas/Admin/css/layout/themes/darkblue-rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/css/layout/custom-rtl.css" rel="stylesheet"  type="text/css" />
    <!-- END THEME STYLES -->

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="~/Areas/Admin/img/logo-big.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Dashborad", null, FormMethod.Post, new { @class = "login-form", role = "form", id = "loginform" }))
    {

        <h3 class="form-title">تسجيل الدخول</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> @Html.ValidationSummary(true, "", new { @class = "text-danger" }). </span>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1" /> تذكرني
            </label>
             
            <button type="submit" class="btn blue pull-right">
                تسجيل الدخول
            </button>
        </div>


}
        <!-- END LOGIN FORM -->


    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        2014 &copy; Metronic - Admin Dashboard Template.
    </div>
    <!-- END COPYRIGHT -->
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../../assets/global/plugins/respond.min.js"></script>
    <script src="../../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/js/jquery.min.js" type="text/javascript"></script>

    <script src="~/Areas/Admin/js/jquery-migrate.min.js" type="text/javascript"></script>

    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

    <script src="~/Areas/Admin/js/jquery.min.js" type="text/javascript"></script>
 
    <script src="~/Areas/Admin/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/js/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/js/jquery.cokie.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
   
    <script src="~/Areas/Admin/js/jquery.backstretch.min.js" type="text/javascript"></script>
     
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Areas/Admin/js/metronic.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/js/layout.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/js/demo.js" type="text/javascript"></script>
    @*<script src="~/Areas/Admin/js/login-soft.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL SCRIPTS -->

   
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            
            Demo.init();
            // init background slide images
            $.backstretch([
                "../../../areas/admin/img/1.jpg",
                "../../../areas/admin/img/2.jpg",
                "../../../areas/admin/img/3.jpg",
                "../../../areas/admin/img/4.jpg"
            ], {
                    fade: 1000,
                    duration: 8000
                }
            );
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>