﻿@model IEnumerable<MyProject.Models.Categotire>

@{
    ViewBag.Title = "Index";
     
}

   
    <div class="col-md-12">
    
        <a href="@Url.Action("Create")" class="btn  green">
            <i class="fa fa-plus"></i>&nbsp; Create

        </a>
       
        <br />
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Categotire
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>

                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.CategoreyID })" class="btn btn-sm blue">
                                        Edit <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="@Url.Action("Details", new { id = item.CategoreyID })" class="btn btn-sm default">
                                        Details <i class="fa fa-search"></i>
                                    </a>
                                    <a href="@Url.Action("Delete",new { id = item.CategoreyID})"
                                       class="btn btn-sm red" id="btnShow">
                                        Delete <i class="fa fa-trash-o"></i>


                                    </a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
        
        <!-- END BORDERED TABLE PORTLET-->
    </div>
