﻿@model MyProject.Models.VM.Home
@{int i = 0; }
<div class="col-md-7 tab-style-1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">@Model.FClient.Name</a></li>
        @for (i = 0; i < Model.Client.Count(); i++)
        {
            int x = i + 2;
            <li><a href="#tab-@x" data-toggle="tab">@Model.Client[i].Name</a></li>

        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane row fade in active" id="tab-1">
            <p class="margin-bottom-10">@Model.FClient.Summery</p>

        </div>


        @for (i = 0; i < Model.Client.Count(); i++)
        {
            int x = i + 2;
            <div class="tab-pane row fade" id="tab-@x">
                <p class="margin-bottom-10">@Model.Client[i].Summery </p>

            </div>


    }
    </div>
</div>

@*﻿<div class="col-md-7 tab-style-1">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab">Multipurpose</a></li>
            <li><a href="#tab-2" data-toggle="tab">Documented</a></li>
            <li><a href="#tab-3" data-toggle="tab">Responsive</a></li>
            <li><a href="#tab-4" data-toggle="tab">Clean & Fresh</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane row fade in active" id="tab-1">
                <div class="col-md-3 col-sm-3">
                    <a href="assets/temp/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                        <img class="img-responsive" src="~/Content/assets/pages/img/photos/img7.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                    <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
                </div>
            </div>
            <div class="tab-pane row fade" id="tab-2">
                <div class="col-md-9 col-sm-9">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="assets/temp/photos/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                        <img class="img-responsive" src="~/Content/assets/pages/img/photos/img10.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-3">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="tab-4">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
            </div>
        </div>
    </div>*@

