﻿
@* bring news without model *@
@{
    MyProject.Models.JobStepEntities db = new MyProject.Models.JobStepEntities();
    List<MyProject.Models.News> NEwsData = db.News.OrderByDescending(x => x.PublishDate).ToList();
    List<MyProject.Models.Employee> EmployeeData = db.Employees.ToList();
    MyProject.Models.GeneralData About = db.GeneralDatas.Where(m => m.C_Key == "About").SingleOrDefault();
    MyProject.Models.GeneralData Adress = db.GeneralDatas.Where(m => m.C_Key == "Adress").SingleOrDefault();
    MyProject.Models.GeneralData Phone = db.GeneralDatas.Where(m => m.C_Key == "Phone").SingleOrDefault();
    MyProject.Models.GeneralData Email = db.GeneralDatas.Where(m => m.C_Key == "Email").SingleOrDefault();
    MyProject.Models.GeneralData Skype = db.GeneralDatas.Where(m => m.C_Key == "Skype").SingleOrDefault();
}
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>About us</h2>
                <p class="readMe">@MyProject.Helper.HelpFunctions.Cut(About.C_Value,30)</p>
                <p class="readMefull" >@About.C_Value</p>
              
                <a class="more">Read more <i class="icon-angle-right"></i></a>
               

                <div class="photo-stream">
                    <h2>Photos Stream</h2>
                    <ul class="list-unstyled">
                      @* To bring first 10 news image for the footer alboom *@
                       

                        @*10 top News Image  *@
                        @if (NEwsData.Count()>10)
                        {
                            NEwsData = NEwsData.Take(10).ToList();
                        }
                        @foreach (var item in NEwsData)
                            {
                                <li><a href="~/home/Gallery"><img alt="" src="~/Uploads/@item.Image"></a></li>
                        }
                        @* 5 Employee *@
                        @if (EmployeeData.Count() > 5)
                        {
                            EmployeeData = EmployeeData.Take(5).ToList();
                        }
                        @foreach (var item in EmployeeData)
                        {
                            <li><a href="#"><img alt="" src="~/Uploads/employee/@item.Image"></a></li>
                        }
                        @* To bring first 5 Team image for the footer alboom *@
                                               @* @{
             MyProject.Models.JobStepEntities db = new MyProject.Models.JobStepEntities();
           List <MyProject.Models.News> data = db.News.OrderByDescending(x => x.PublishDate).ToList();
        }



        @if (data.Count()>5)
        {
            data = data.Take(5).ToList();
        }
        @foreach (var item in data)
            {
                <li><a href="#"><img alt="" src="~/Uploads/@item.Image"></a></li>
        }
                                            *@
                    </ul>
                </div>

            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Our Contacts</h2>
                <address class="margin-bottom-40">
                    @Adress.C_Value<br>
                   
                    @Phone.C_Key: @Phone.C_Value<br>
                    @Email.C_Key: <a href="@Email.C_Value">@Email.C_Value</a><br>
                    @Skype.C_Key: <a href="@Skype.C_Value">@Skype.C_Value</a>
                </address>
                <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    @using (Html.BeginForm("Add_email", "Home", FormMethod.Post))
                    {
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control" name="mail">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <!-- END BOTTOM CONTACTS -->
            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2 class="margin-bottom-0">Latest Tweets</h2>
                <a class="twitter-timeline" href="https://twitter.com/motherskill?ref_src=twsrc%5Etfw" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB">Tweets by motherskill</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
            <!-- END TWITTER BLOCK -->
        </div>
    </div>
</div>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("p.readMefull").hide();
        $("a.more").click(function(){
            if ($('p.readMefull').is(':hidden')) {
                $("p.readMe").hide(),
                $("p.readMefull").show();
               
            }

            else {

                $("p.readMe").show(),
                $("p.readMefull").hide();
            }

    });
});
</script>


