﻿@model MyProject.Models.VM.Home
<div class="row margin-bottom-40 our-clients">
    <div class="col-md-3">
        <h2><a href="#">Our Clients</a></h2>
        <p>We work closely with a wide range of clients from different sectors and regions across public sector, private sector and local.</p>
    </div>
    <div class="col-md-9">
        <div class="owl-carousel owl-carousel6-brands">
            @foreach (var item in Model.Partner)
            {

           <div class="client-item">
                <a href="#">
                    <img src="~/Uploads/partner/ImageBlackAndWhit/@item.ImageBlackAndWhit" class="img-responsive" alt="">
                    <img src="~/Uploads/partner/@item.Image" class="color-img img-responsive" alt="">
                </a>
            </div>
            }
        </div>
    </div>
</div>
