﻿@model MyProject.Models.VM.Home
<!--  small Left Advertisements260 190 -->

    <div class="col-md-3 ">
    <em>
        <img src="~/Uploads/advertisment/@Model.HoldPlace2.image" alt="Amazing Project" class="img-responsive" style="height:180px" width="100%">
    </em>
</div>
<!-- END small Left Advertisements -->
    <div class="col-md-3">
        <h2><a href="portfolio.html">Recent Works</a></h2>
        <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde voluptatem. Sed unde omnis iste natus error sit voluptatem.</p>
    </div>
    <div class="col-md-6">
        <div class="owl-carousel owl-carousel3">
            @foreach (var item in Model.Project)
            {

           
            <div class="recent-work-item">
                <em>
                    <img src="~/Uploads/project/@item.Image" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="~/Content/assets/pages/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>@item.ProjectName</strong>
                    <b>@item.Partner.Name</b>
                </a>
            </div>
            }

        </div>
    </div>
   

