﻿@model MyProject.Models.VM.Home

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="fullwidthbanner-container revolution-slider">
    <div class="w3-content w3-display-container" style="max-width:unset;position: relative" >
@foreach (var item in Model.News)
{

    <a href="~/home/OneNew/@item.NewsID">
        <img class="mySlides" src="~/Uploads/@item.Image?h=500&w=500&mode=max" style="width:100%; height: 700px;  " alt="@item.Title" title="@item.Title">
    </a>
}
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

</div>


