﻿<div class="col-md-5 testimonials-v1">
    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                <div class="carousel-info">
                    <img class="pull-left" src="~/Content/assets/pages/img/people/img1-small.jpg" alt="">
                    <div class="pull-left">
                        <span class="testimonials-name">Lina Mars</span>
                        <span class="testimonials-post">Commercial Director</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
                <div class="carousel-info">
                    <img class="pull-left" src="~/Content/assets/pages/img/people/img5-small.jpg" alt="">
                    <div class="pull-left">
                        <span class="testimonials-name">Kate Ford</span>
                        <span class="testimonials-post">Commercial Director</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
                <div class="carousel-info">
                    <img class="pull-left" src="~/Content/assets/pages/img/people/img2-small.jpg" alt="">
                    <div class="pull-left">
                        <span class="testimonials-name">Jake Witson</span>
                        <span class="testimonials-post">Commercial Director</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
        <a class="right-btn" href="#myCarousel" data-slide="next"></a>
    </div>
</div>

