﻿

    <div class="ui-newsticker">
        <ul class="ui-newsticker-list">
            <li class="ui-newsticker-item">
                That open was light. After also shall first rule third every place spirit light. Beginning together their hath, winged firmament.
            </li>
            <li class="ui-newsticker-item">
                That creature his bring waters female morning place Give bearing in isn't from. Without his fowl void bearing. Blessed give.
            </li>
            <li class="ui-newsticker-item">
                And also. Firmament and Give. Sea replenish gathered give in for whose tree their a said multiply abundantly give years.
            </li>
        </ul>
    </div>
 
  


  