﻿
<link href="~/Content/assets/layout/TheTeam/css/TeamStyle.css" rel="stylesheet" />

<div class="team-block  content-center margin-bottom-40" id="team">
    <div class="container">
        <h2>Meet <strong>the team</strong></h2>
        <h4>Our team is very professional and always like to serve  you under any hard circumstances</h4>
        <div class="row">
            @* To bring first 3 team image for the footer alboom *@
            @{
                MyProject.Models.JobStepEntities db = new MyProject.Models.JobStepEntities();
                List<MyProject.Models.Employee> data = db.Employees.ToList();
            }


            @if (data.Count() > 3)
            {
                data = data.Take(3).ToList();
            }
            @foreach (var item in data)
            {


                  <div class="col-md-4 item">
                <img src="~/Uploads/employee/@item.Image" alt="Marcus Doe" class="img-responsive">
                <h3>@item.Name</h3>
                <em>@item.Summery</em>
             
          
            </div>
            }
            @*<div cl ass="col-md-4 item">
        <img src="~/Content/assets/layout/img/people/img7-large.jpg" alt="Elena Taylor" class="img-responsive">
        <h3>Elena Taylor</h3>
        <em>Designer</em>
        <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
        <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
        </div>
    </div>
    <div class="col-md-4 item">
        <img src="~/Content/assets/layout/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive">
        <h3>Cris Nilson</h3>
        <em>Developer</em>
        <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
        <div class="tb-socio">
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
            <a href="javascript:void(0);" class="fa fa-google-plus"></a>
        </div>
    </div>*@
        </div>
    </div>
</div>
@*<script src="~/Content/assets/layout/TheTeam/scripts/layout.js"></script>*@