﻿@model IPagedList<MyProject.Models.Employee>
@using PagedList.Mvc;
@using PagedList;


<!DOCTYPE html>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-12">
    <a href="@Url.Action("Create")" class="btn  green">
        <i class="fa fa-plus"></i>&nbsp; Create

    </a>
 
    <br />
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>The Team
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>

            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th>
                            @Html.Label(" Name ", new { @style = "font-weight:bold;text-align: center;" })

                        </th>
                        <th>
                            @Html.Label("Summery", new { @style = "font-weight:bold;text-align: center;" })
                            @*@Html.DisplayNameFor(model => model.Details)*@
                        </th>
                        <th>
                            @Html.Label("Email", new { @style = "font-weight:bold;text-align: center;" })
                        </th>
                        <th>
                            @Html.Label("Image", new { @style = "font-weight:bold;text-align: center;" })
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Summery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <img src="~/Uploads/employee/@item.Image" width="100" height="100" />
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.EmployeeID })" class="btn btn-sm blue">
                                    Edit <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", new { id = item.EmployeeID })" class="btn btn-sm default">
                                    Details <i class="fa fa-search"></i>
                                </a>
                                <a href="@Url.Action("Delete",new { id = item.EmployeeID})"
                                   class="btn btn-sm red">
                                    Delete <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <!-- END BORDERED TABLE PORTLET-->
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", "Employee", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })











