﻿@model MyProject.Models.Client

@{
    ViewBag.Title = "Details";
}

<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-search"></i>  Details
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Summery)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Summery)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNO)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNO)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.image)
                    </dt>

                    <dd>
                        <img src="~/Uploads/client/@Model.image" width="100" height="100" />
                    </dd>

                </dl>
                <div class="form-group">
                    <br />
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("Edit", new { id = Model.ClientID })" class="btn btn-sm blue">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a href="@Url.Action("Index")" class="btn btn-sm default">
                            <i class="fa fa-forward"></i> Back to List
                        </a>
                        <br />
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
