﻿@model MyProject.Models.Project

@{
    ViewBag.Title = "Delete";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-trash"></i>  Delete
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">

            <h3>Are you sure you want to delete this?  </h3>
            <div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProjectName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Image)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Duration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Duration)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Client.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Client.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Partner.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Partner.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>

                    <dd>
                        <img src="~/Uploads/Project/@Model.Image" width="100" height="100" />
                       
                    </dd>
                </dl>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <br />
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-sm red " type="submit">
                                <i class="fa fa-trash"></i>&nbsp; Delete
                            </button>
                            <a href="@Url.Action("Index")" class="btn btn-sm default">
                                <i class="fa fa-forward"></i> Back to List
                            </a>
                            <br />
                        </div>
                    </div>
                }
                <br />
            </div>
        </div>
    </div>
</div>


@section scriptFooter
{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
  $( function() {
    $( "#dialog" ).dialog();
  } );
    </script>
}
@{
    string massg = "";
    if (ViewBag.error != null)
    { massg = ViewBag.error; }
    else
    { massg = " If there is any project has any relation with this Client you can't delet it"; }

}
<div id="dialog" title="Warning" class="danger">
    <p>@massg</p>
</div>








