﻿@model MyProject.Models.News

@{
    ViewBag.Title = "Details";
}



<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-search"></i>  Details
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>


                            <dt>
                                @Html.DisplayNameFor(model => model.Details)
                            </dt>

                            <dd>

                                @Html.Raw(@Model.Details)
                            </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>

                    <dd>
                        <img src="~/Uploads/@Model.Image" width="100" height="100" />
                    </dd>
                            

                            <dt>
                                @Html.DisplayNameFor(model => model.PublishDate)
                            </dt>

                            <dd>
                                @Model.PublishDate.ToShortDateString()
                            @*    @Html.DisplayFor(model => model.PublishDate)*@
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Categotire.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Categotire.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Employee.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Employee.Name)
                            </dd>

                        </dl>
                    


                <div class="form-group">
                    <br />
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("Edit", new { id = Model.NewsID })" class="btn btn-sm blue">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a href="@Url.Action("Index")" class="btn btn-sm default">
                            <i class="fa fa-forward"></i> Back to List
                        </a>
                        <br />
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
