﻿@model IPagedList<MyProject.Models.News>
@using PagedList.Mvc;
@using PagedList;

@*@model IEnumerable<MyProject.Models.News>*@

@{
    ViewBag.Title = "All News";
   
}
@*<button type="button" class="btn red"><i class="fa fa-user"></i> Profile</button>*@
<div class="col-md-12">
    <a href="@Url.Action("Create", "News")" class="btn  green">
        <i class="fa fa-plus"></i>&nbsp; Create
        
    </a>
   
    <br />
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>News
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>

            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <tr>
                       
                        <th>
                            @Html.Label(" Categotire ",new { @style = "font-weight:bold;text-align: center;" })
                            @*@Html.Display("Categotire")*@
                         @*   @Html.DisplayNameFor(model => model.Categotire.Name)*@
                        </th>
                        <th>
                            @Html.Label(" News Title ", new { @style = "font-weight:bold;text-align: center;" })
                           
                           @* @Html.DisplayNameFor(model => model.Title)*@
                        </th>
                        <th>
                            @Html.Label("Details", new { @style = "font-weight:bold;text-align: center;" })
                            @*@Html.DisplayNameFor(model => model.Details)*@
                        </th>
                        <th>
                            @Html.Label("Image", new { @style = "font-weight:bold;text-align: center;" })
                            @*@Html.DisplayNameFor(model => model.Image)*@
                        </th>
                        <th>
                            @Html.Label("Publish Date", new { @style = "font-weight:bold;text-align: center;" })
                            @*@Html.DisplayNameFor(model => model.PublishDate)*@
                        </th>
                        <th>
                            @Html.Label("IsActive", new { @style = "font-weight:bold;text-align: center;" })


                          @*  @Html.DisplayNameFor(model => model.IsActive)*@
                        </th>
                        
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Categotire.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                
                                @Html.Raw(item.Details)
                            </td>
                            <td>
                                <img src="~/Uploads/@item.Image" width="100" height="100" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublishDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                           
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.NewsID })" class="btn btn-sm blue">
                                    Edit <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", new { id = item.NewsID })" class="btn btn-sm default">
                                    Details <i class="fa fa-search"></i>
                                </a>
                                <a href="@Url.Action("Delete",new { id = item.NewsID})"
                                   class="btn btn-sm red">
                                    Delete <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
    <!-- END BORDERED TABLE PORTLET-->
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", "News", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
