﻿@model MyProject.Models.Advertisment

@{
    ViewBag.Title = "Delete";
}

<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-trash"></i>  Delete
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">

            <h3>Are you sure you want to delete this? </h3>
            <div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.image)
                    </dt>

                    <dd>
                        <img src="~/Uploads/@Model.image" width="100" height="100" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.URL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.URL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PostionID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PostionID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PublishDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FormDate)
                    </dt>

                    <dd>
                        @Model.FormDate.ToShortDateString()
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ToDate)
                    </dt>

                    <dd>
                        @Model.ToDate.ToShortDateString()
                    </dd>

                </dl>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <br />
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-sm red " type="submit">
                                <i class="fa fa-trash"></i>&nbsp; Delete
                            </button>
                            <a href="@Url.Action("Index")" class="btn btn-sm default">
                                <i class="fa fa-forward"></i> Back to List
                            </a>
                            <br />
                        </div>
                    </div>
                }
                <br />
            </div>
        </div>
    </div>
</div>


