﻿@model IEnumerable<MyProject.Models.Partner>

@{
    ViewBag.Title = "Index";
}


<div class="col-md-12">

    <a href="@Url.Action("Create")" class="btn  green">
        <i class="fa fa-plus"></i>&nbsp; Create

    </a>

    <br />
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>Client
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>

            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Summery)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                            
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Summery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <img src="~/Uploads/Partner/@item.Image" width="100" height="100" />
                                <hr />
                                <img src="~/Uploads/Partner/ImageBlackAndWhit/@item.ImageBlackAndWhit" width="100" height="100" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.PartnerID })" class="btn btn-sm blue">
                                    Edit <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", new { id = item.PartnerID })" class="btn btn-sm default">
                                    Details <i class="fa fa-search"></i>
                                </a>
                                <a href="@Url.Action("Delete",new { id = item.PartnerID})"
                                   class="btn btn-sm red" id="btnShow">
                                    Delete <i class="fa fa-trash-o"></i>


                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

    <!-- END BORDERED TABLE PORTLET-->
</div>



