﻿@model IEnumerable<MyProject.Models.News>
@{
    ViewBag.Title = "Gallery";
}


    
    <div class="content-page">
        
        <div class="row margin-bottom-40" style="margin-left:0.7%">
            <h1 style="margin-left:1%">Gallery</h1> 
             @foreach (var item in Model)
        {
          

            <div class="col-md-3 col-sm-4 gallery-item"  >
                <a data-rel="fancybox-button" title="Project Name" href="~/Uploads/@item.Image" class="fancybox-button">
                    <img alt=""  src="~/Uploads/@item.Image" class="img-responsive" style="width:300px;height:210px">
                    <div class="zoomix"><i class="fa fa-search"></i></div>
                </a>
            </div>
         }
        </div>
      
    </div>

