﻿@model MyProject.Models.VM.Home
@{
    ViewBag.Title = "Home Page";
}
<style>
    .overflow {
        height: 50px;
        overflow: hidden;
    }
</style>
<!-- BEGIN SLIDER -->
@Html.Partial("_slider")
<!-- END SLIDER -->



<div class="main">
    <div class="container">
        <!-- BEGIN SERVICE BOX -->
        <div class="row service-box margin-bottom-40">

            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-cubes blue"></i></em>
                    <span>@Model.MISSION.C_Key</span>
                </div>

                <p>@Model.MISSION.C_Value</p>
                @*<p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>*@
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-check red"></i></em>
                    <span> @Model.VISION.C_Key</span>
                </div>
                <p >@Model.VISION.C_Value</p>
      
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-rocket green"></i></em>
                    <span>@Model.OBJECTIVES.C_Key</span>
                </div>
                <p >@Model.OBJECTIVES.C_Value</p>
               
            </div>
        </div>
        <!-- END SERVICE BOX -->
     
        <!-- BEGIN Job announcements -->
        <div class="row quote-v1 margin-bottom-30">
            <div class="col-md-9">
                <span>Job step - Last Job announcements </span>
            </div>
            <div class="col-md-3 text-right">
                <a class="btn-transparent" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Jobs</a>
            </div>
        </div>
        <!-- END Job announcements BLOCK -->
        <!-- BEGIN RECENT WORKS -->
        <div class="row recent-work margin-bottom-40">
            @Html.Partial("_Projects")
        </div>

        <!-- END RECENT WORKS -->
        <!-- BEGIN TABS AND TESTIMONIALS -->

        <div class="row mix-block margin-bottom-40">

            <!-- TABS -->
            @Html.Partial("_CLIENTSTabs")

            
            <!-- END TABS -->
            <!-- TESTIMONIALS -->
            @Html.Partial("_TESTIMONIALS")
            <!-- END TESTIMONIALS -->
        </div>
        <!-- END TABS AND TESTIMONIALS -->
        <!-- BEGIN STEPS If we need it we can use it-->
        @*@Html.Partial("_Steps") *@

        <!-- END STEPS -->
        <div class="row quote-v1 margin-bottom-30 " style="background-color:white">
            <img src="~/Uploads/advertisment/@Model.HoldPlace1.image" alt="Amazing Project" class="img-responsive" width="100%" ">
        </div>
        <!-- BEGIN CLIENTS -->
        @Html.Partial("_Partners")
        <!-- END CLIENTS -->
        <!--  BIG Advertisements -->
        @*<img src="~/Content/assets/pages/img/revolutionslider/bg9.jpg" alt="">*@
        <!-- END BIG Advertisements -->
        <!-- Team block BEGIN -->
        @Html.Partial("_TheTeam")
        <!-- Team block END -->


    </div>
</div>

