﻿@model MyProject.Models.VM.Home

@{
    ViewBag.Title = "OneNew";
}

<div class="container">
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <h2>@Model.New.Title</h2>
            <div class="thumbnail">

                <img class="img-responsive" src="~/Uploads/@Model.New.Image" alt="Lights">
                <div class="caption">

                    <p>@Model.New.Title</p>
                </div>

            </div>
            <div>
                <p>@Html.Raw(@Model.New.Details)</p>
                <br />
            </div>
        </div>
        <div class="col-xs-3 col-md-3 ">
         
            <!-- BEGIN RECENT NEWS -->
            <h2>Recent News</h2>
            <div class="recent-news margin-bottom-10">
                <div class="row margin-bottom-10">
                    @foreach (var item in Model.News)
                    { 
                    <div class="col-md-3">
                        <img class="img-responsive" alt="" src="~/Uploads/@item.Image">
                    </div>
                    <div class="col-md-9 recent-news-inner">
                        <h3><a href="~/home/OneNew/@item.NewsID">@item.Title</a></h3>
                        
                        <p>@MyProject.Helper.HelpFunctions.Cut(MyProject.Helper.HelpFunctions.StripTagsRegex(@item.Details), 30)</p>
                      
                        
                     
                    </div>
                    }
                </div>
                  
            </div>
            <!-- END RECENT NEWS -->           

        </div>
    </div>
    </div>
    
                
           