﻿

   <!-- BEGIN SERVICE BOX -->
<div class="row service-box margin-bottom-40">

    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-location-arrow blue"></i></em>
            <span>MISSION</span>
        </div>
        <p class="overflow"> exists to contribute to the growth of Gaza’s ICT sector, by expanding its business opportunities and professional capacity. GGateway’s business and social ..</p>
        <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-check red"></i></em>
            <span> VISION</span>
        </div>
        <p class="overflow">envisions ICT graduates entering a globally connected industry, ready for the opportunities and challenges that await them. GGateway offers the first integrated and ..</p>
        <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-compress green"></i></em>
            <span>OBJECTIVES</span>
        </div>
        <p class="overflow">Our objectives are increase job opportunities, Boost local market towards overseas outsourcing, Grow ICT businesses at competitive prices ..</pclass="overflow">
        <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
    </div>
</div>
<!-- END SERVICE BOX -->

@Html.Partial("_test")

    <!-- BEGIN Job announcements -->
<div class="row quote-v1 margin-bottom-30">
    <div class="col-md-9">
        <span>Job step - Last Job announcements </span>
    </div>
    <div class="col-md-3 text-right">
        <a class="btn-transparent" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
    </div>
</div>
<!-- END Job announcements BLOCK -->

    <!-- BEGIN RECENT WORKS -->
<div class="row recent-work margin-bottom-40">
    @Html.Partial("_Projects")
</div>

<!-- END RECENT WORKS -->
<!-- BEGIN TABS AND TESTIMONIALS -->

<div class="row mix-block margin-bottom-40">

    <!-- TABS -->
    @Html.Partial("_PartnersTab")
    <!-- END TABS -->
    <!-- TESTIMONIALS -->
    @Html.Partial("_TESTIMONIALS")
    <!-- END TESTIMONIALS -->
</div>
<!-- END TABS AND TESTIMONIALS -->
<!-- BEGIN STEPS If we need it we can use it-->
@*@Html.Partial("_Steps") *@

<!-- END STEPS -->
<!-- BEGIN CLIENTS -->
@Html.Partial("_CLIENTS")
<!-- END CLIENTS -->
<!--  BIG Advertisements -->
@*<img src="~/Content/assets/pages/img/revolutionslider/bg9.jpg" alt="">*@
<!-- END BIG Advertisements -->
<!-- Team block BEGIN -->
@Html.Partial("_TheTeam")
<!-- Team block END -->










































<div class="main">
    
    <div class="container">

        <!-- BEGIN SERVICE BOX -->
        <div class="row service-box margin-bottom-40">

            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-location-arrow blue"></i></em>
                    <span>MISSION</span>
                </div>
                <p class="overflow"> exists to contribute to the growth of Gaza’s ICT sector, by expanding its business opportunities and professional capacity. GGateway’s business and social ..</p>
                <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-check red"></i></em>
                    <span> VISION</span>
                </div>
                <p class="overflow">envisions ICT graduates entering a globally connected industry, ready for the opportunities and challenges that await them. GGateway offers the first integrated and ..</p>
                <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-compress green"></i></em>
                    <span>OBJECTIVES</span>
                </div>
                <p class="overflow">Our objectives are increase job opportunities, Boost local market towards overseas outsourcing, Grow ICT businesses at competitive prices ..</pclass="overflow">
                <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
            </div>
        </div>
        <!-- END SERVICE BOX -->
        @Html.Partial("_test")
        <!-- BEGIN Job announcements -->
        <div class="row quote-v1 margin-bottom-30">
            <div class="col-md-9">
                <span>Job step - Last Job announcements </span>
            </div>
            <div class="col-md-3 text-right">
                <a class="btn-transparent" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
            </div>
        </div>
        <!-- END Job announcements BLOCK -->
        <!-- BEGIN RECENT WORKS -->
        <div class="row recent-work margin-bottom-40">
            @Html.Partial("_Projects")
        </div>

        <!-- END RECENT WORKS -->
        <!-- BEGIN TABS AND TESTIMONIALS -->

        <div class="row mix-block margin-bottom-40">

            <!-- TABS -->
            @Html.Partial("_PartnersTab")
            <!-- END TABS -->
            <!-- TESTIMONIALS -->
            @Html.Partial("_TESTIMONIALS")
            <!-- END TESTIMONIALS -->
        </div>
        <!-- END TABS AND TESTIMONIALS -->
        <!-- BEGIN STEPS If we need it we can use it-->
        @*@Html.Partial("_Steps") *@

        <!-- END STEPS -->
        <!-- BEGIN CLIENTS -->
        @Html.Partial("_CLIENTS")
        <!-- END CLIENTS -->
        <!--  BIG Advertisements -->
        @*<img src="~/Content/assets/pages/img/revolutionslider/bg9.jpg" alt="">*@
        <!-- END BIG Advertisements -->
        <!-- Team block BEGIN -->
        @Html.Partial("_TheTeam")
        <!-- Team block END -->


    </div>
</div>




